main > section:not(.active){
    display: none;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 600px;
    padding: 10px;
    border: 0.5px;
    margin: 0.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    height: 170px;
    text-align: left;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 3px;
  }

  .column > span {
      text-align: left;
      float: left;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #homeView p{
      display: inline-block;
      background-color:rgb(206, 206, 206);
      color:rgb(49, 49, 49);
      border-radius: 10em;
      padding: 5px;
      margin-right: 2px;
      min-height: 1.25em;
  }

  /* Style the counter cards */
  .column > img, .column > h3, .column > span{
    float: left;
  }
  .column > button{
    min-width: 3em;
    width: 40%;
    height: 20%;
    background-color: green;
    border-style: none;
    color:white;
    float: right;
    border-radius: 12px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }